<template>
  <div id="app">
    <!-- <Sales/><br><br><br> -->
    <Inventory/>
  </div>
</template>

<script>
//import Sales from './components/Sales.vue'
import Inventory from './components/Inventory.vue'
export default {
  name: 'HiringApp',
  components: {
    //Sales,
    Inventory
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
