<template>
<div>
  <h1>Inventory</h1><br/>
  <h2>Show all Inventories</h2>
  <button v-on:click="show">Show Tables</button>
  <table class="center">
      <tbody>
        <tr><th>ID</th><th>Item_Name</th><th>Quantity</th></tr>
          <tr v-for="row in items.result" :key='row.id'>
            <td>{{ row.id }}</td>
            <td>{{ row.item_name }}</td>
            <td>{{ row.quantity }}</td>
          </tr>
      </tbody>
  </table>
  <h3>Create new Inventory</h3>
  <form @submit.prevent="handleSubmit" method="post">
    <label>Item Name</label> <input type="text" required v-model="c.item_name" name="item1"><br><br>
    <label>Quantity</label> <input type="text" required v-model="c.quantity" name="q1"><br><br>
    <button type="submit">Create</button><br>
  </form>
  <h3>Update Existing Inventory</h3>
  <form @submit.prevent="handleUpdate" method="post">
    <label>Enter Item Name</label> <input type="text" required v-model="u.item_name" name="item2"><br><br>
    <label>Enter new Quantity</label> <input type="text" required v-model="u.quantity" name="q2"><br><br>
    <button type="submit">Create</button><br>
  </form>
  <h3>Delete Inventory</h3>
  <form @submit.prevent="handleDelete" method="post">
    <label>Item Name</label> <input type="text" required v-model="d.item_name" name="item_name"><br><br>
    <button type="submit">Create</button><br>
  </form>
</div>
</template>

<script>
import axios from 'axios'
export default {
  name: "PostPage",
  data(){
    return{
      items:[],
      c:{
        item_name:null,
        quantity:null
      },
      u:{
        item_name:null,
        quantity:null
      }, 
      d:{
        item_name:null
      }
    }
  },
  methods:{
    handleSubmit() {
      axios.post('http://localhost:5000/api/inv/list', this.c).then(()=>{
        window.location.reload();
      });
    },
    show(){
    axios.get('http://localhost:5000/api/inv/list').then((response)=>{
        this.items = response.data;
      });
    },
    handleUpdate(){
      axios.post("http://localhost:5000/api/inv/update", this.u).then(()=>{
        console.log("updated");
        window.location.reload();
      });
    },
    handleDelete(){
      axios.post("http://localhost:5000/api/inv/delete", this.d).then(()=>{
        console.log("deleted");
        window.location.reload();
      });
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
